<h1>Inventario</h1>

<div class="" ng-controller="arrowController">
	
	<!-- <div class="btn-group">
	  <a href="#" class="btn btn-default">Default</a>
	  <a href="" ng-click="toggle()" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
	  <ul ng-show="show" class="dropdown-menu">
	    <li><a href="#">Action</a></li>
	    <li><a href="#">Another action</a></li>
	    <li><a href="#">Something else here</a></li>
	    <li class="divider"></li>
	    <li><a href="#">Separated link</a></li>
	  </ul>
	</div> -->

	<div class="btn-group">
	  <a href="#/inventario" class="btn btn-primary">Productos</a>
	  <a href="" ng-hide="show" ng-click="toggle()" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
	  <ul ng-show="show" class="dropdown-menu">
	    <li><a href="">Action</a></li>
	    <li><a href="">Another action</a></li>
	    <li><a href="">Something else here</a></li>
	    <li class="divider"></li>
	    <li><a href="">Separated link</a></li>
	  </ul>
	</div>

	<div class="btn-group">
	  <a href="#" class="btn btn-success">Alistado</a>
	  <a href="" ng-click="toggle()" class="btn btn-success dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
	  <ul ng-show="show" class="dropdown-menu">
	    <li><a href="#">Action</a></li>
	    <li><a href="#">Another action</a></li>
	    <li><a href="#">Something else here</a></li>
	    <li class="divider"></li>
	    <li><a href="#">Separated link</a></li>
	  </ul>
	</div>

	<!-- <div class="btn-group">
	  <a href="#" class="btn btn-info">Info</a>
	  <a href="" ng-click="toggle()" class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
	  <ul ng-show="show" class="dropdown-menu">
	    <li><a href="#">Action</a></li>
	    <li><a href="#">Another action</a></li>
	    <li><a href="#">Something else here</a></li>
	    <li class="divider"></li>
	    <li><a href="#">Separated link</a></li>
	  </ul>
	</div>

	<div class="btn-group">
	  <a href="#" class="btn btn-warning">Warning</a>
	  <a href="" ng-click="toggle()" class="btn btn-warning dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
	  <ul ng-show="show" class="dropdown-menu">
	    <li><a href="#">Action</a></li>
	    <li><a href="#">Another action</a></li>
	    <li><a href="#">Something else here</a></li>
	    <li class="divider"></li>
	    <li><a href="#">Separated link</a></li>
	  </ul>
	</div> -->
</div>


