<h1>Inventario</h1>

<div class="" ng-controller="TabsController">
	<a href="#" class="btn btn-primary btn-lg space">PRODUCTOS</a>
	<a href="#" class="btn btn-success btn-lg space">ALISTADO BASES</a>
	<a href="#" class="btn btn-warning btn-lg space">CAMBIOS</a>
	<a href="#" class="btn btn-danger btn-lg space">PRESTAMOS</a>
	<a href="#" class="btn btn-info btn-lg space">AYUDA</a>
</div>

<div class="jumbotron margin-top space">
	<form class="form-horizontal center">
	    <div class="form-group">
	      <label for="select" class="col-lg-2 control-label"> Tipo Producto</label>
	      <div class="col-lg-3">
	        <select class="form-control" id="select">
	          <option>Base Semiterminada </option>
	          <option>Base Terminada </option>
	          <option>Montura</option>
	          <option>Liquido</option>
	          <option>Estuche</option>
	          <option>Plaqueta</option>
	        </select>
	      </div>

	      <label for="select" class="col-lg-3 control-label">Clase de Base</label>
	      <div class="col-lg-3">
	        <select class="form-control" id="select">
	          <option>Base Semiterminada </option>
	          <option>Base Terminada </option>
	          <option>Montura</option>
	          <option>Liquido</option>
	          <option>Estuche</option>
	          <option>Plaqueta</option>
	        </select>
	      </div>
	    </div>

	    <div class="form-group col-lg-5">
      	<span class="col-lg-"></span>
	      <div class="col-lg-5">
		      <input class="form-control" id="focusedInput" type="text" placeholder="Nombre">
		      <label for="select" class="col-lg-3 control-label">Clase de Lente</label>
		      <div class="col-lg-3">
		        <select class="form-control" id="select">
		          <option>Progresivo</option>
		          <option>Invisible</option>
		          <option>Flaptop</option>
		        </select>
		    </div>
	    </div>
			
			
    </div>
	</form>
</div>


